ALPHADB_API_BASE_URL=http://127.0.0.1:8501
NEXT_PUBLIC_ALPHADB_API_BASE_URL=http://127.0.0.1:8501
ALPHADB_ENV=local
ALPHADB_COCKPIT_PIN=
ALPHADB_COCKPIT_COOKIE_SECRET=
ALPHADB_COCKPIT_COOKIE_TTL_SECONDS=604800
ALPHADB_COCKPIT_COOKIE_NAME=alphadb_cockpit_auth
ALPHADB_COCKPIT_AUTH_REQUIRED=0
ALPHADB_COCKPIT_COOKIE_SECURE=0
